
.hotelContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hotelWrapper{

    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotelImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelImgWrapper{
    width: 33%;
}
.hotelImg{
    width: 100%;
    object-fit: cover;
}

.hotelTitle{
    font-size: 24px;
}
.hotelAddress{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotelDistance{
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHighlight{
    color: #008009;
    font-weight: 500;
}