.featured {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  gap: 20px;
}

.featuredItem{
    position: relative;
}

.featuredItem img{
    width: 100%;
    border-radius: 12px;
}

.featuredTitle{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: white;
    text-shadow: 2px 3px 5px black;
}
